@import url('../../res/css/navegacao-portais.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('../fonts/gotham/gotham.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 1.8rem;
  color: #333;
  font-size: 18px;
  background: #EFEFEF;
}

.fixed-top {
  margin-top: 30px;
}
h1 {font-size: 3rem;}

h2 {font-size: 2.75rem;}

h1, h2, h3, h4, h5, h6 {
  color:#0064B0;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
}
 

/*FORMS*/
 
.btn-primary {
  background-color: #0064B0;
  border-color: #004F9D;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #0080C6 !important;
  border-color: #0080C6 !important;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #0080C6;
  border-color: #0080C6;
}

  


#topo {
  height: 400px;
  background-color: #8BCFE5;
  background-position:  right top;
  background-repeat: no-repeat;
}

.logo {
  margin-top: 50px;
}

#topo .btn {
  margin: 50px 0 0 180px;
}

#sobre {
  padding: 50px 0;
  background-color: #fff;
}


#regulamento {
  padding: 50px 0;
  background-color: #E6F5FC
}

.tab-content {
  text-align: left;
  padding: 40px;
  margin: 20px 0;
  height: 65vh;
  overflow-y: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 4px rgba(150,150,150,.3);
  box-shadow: 0 0 10px 4px rgba(150,150,150,.3);
  }


  #cronograma {
    padding: 50px 0;
  background-color: #fff;
  }

  #cronograma .fa {
    background-color: #003059;
    border-radius: 100px;
    margin-bottom: 10px;
  }


  #projetos {
    padding: 50px 0;
  background-color: #efefef;
  }

  #projetos .btn-dark { 
    border: none;
    border-bottom: 2px solid #10c0e3;
    background-color: #003059;
    border-radius: 0;
    }

    #projetos .btn-dark:hover {
      background-color: #0080C6;
    }

    #projetos .card-header {
      font-size: 1.5rem;
      font-family: color:#0064B0;
      font-family: 'Barlow Condensed', sans-serif;
    }

#contato {
  padding: 50px 0;
  background-color: #efefef;
}

/* 
RESPONSIVE 
*/

@media (min-width: 992px){
  #topo {
    height: 500px;
    background: url('../images/bg-topo.jpg');
    background-color: #8BCFE5;
    background-position:  calc(100% + 600px) top;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px){
  #topo {
    background-position:  calc(100% + 450px) top; 
  }
}

@media (min-width: 1600px){
  #topo {
    background-position:  calc(100% + 200px) top; 
  }
}

@media (min-width: 2000px){
  #topo {
    background-position:  right top; 
  }
}